@page "/"
@inject IBugService BugService
@attribute [StreamRendering(true)]

<h3>Bugs</h3>

<a href="bugs/create" class="btn btn-primary">New Bug</a>

@if (Bugs is not null)
{
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Is Done</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bug in Bugs)
        {
            <tr>
                <td>@bug.Name</td>
                <td>@bug.IsDone</td>
                <td>
                        <a href="@($"bugs/edit?id={bug.Id}")" class="btn btn-info">Edit</a>
                        <a href="@($"bugs/details?id={bug.Id}")" class="btn btn-outline-primary">Details</a>
                        <a href="@($"bugs/delete?id={bug.Id}")" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }

    </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}



@code {

    public IList<Bug>? Bugs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Bugs = await BugService.GetAllAsync();
    }

}
